<mat-card>
  <mat-card-title>Resources Overview</mat-card-title>
  <mat-card-content>
    This is an overview of the resources of your simulation. See the KPIs of the resources of the whole simulation scenario on the cards
    below. Clicking on the <i>Show details</i> button will lead you to a detailed overview of the selected resource and its instances.
  </mat-card-content>
</mat-card>
<mat-card *ngFor="let resource of resources">
  <mat-card-title>{{ resource.type }}</mat-card-title>
  <mat-card-content>
    <app-resource-kpi [statistics]="resource" [timeUnit]="timeUnit"></app-resource-kpi>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button routerLink="/statistics/resources/{{resource.type}}">Show Details</a>
  </mat-card-actions>
</mat-card>
