<div fxLayout="row" fxLayoutAlign="space-evenly center">
  <app-box-plot-diagram class="boxplot" [min]="1" [max]="100" [median]="50" [q1]="30" [q3]="70" [label]="'Costs'+inputId"></app-box-plot-diagram>
  <app-box-plot-diagram class="boxplot" [min]="1" [max]="100" [median]="50" [q1]="30" [q3]="70" [label]="'Duration'+inputId"></app-box-plot-diagram>
  <app-box-plot-diagram class="boxplot" [min]="1" [max]="100" [median]="50" [q1]="30" [q3]="70" [label]="'Waiting Time'+inputId"></app-box-plot-diagram>
  <app-box-plot-diagram class="boxplot" [min]="1" [max]="100" [median]="50" [q1]="30" [q3]="70" [label]="'Resources-idle Time'+inputId"></app-box-plot-diagram>
</div>
