<div fxLayout="row" fxLayoutAlign="space-evenly center">
  <app-box-plot-diagram class="boxplot" [statistics]="statistics.cost" [label]="'Costs'"></app-box-plot-diagram>
  <app-box-plot-diagram class="boxplot" [statistics]="statistics.time.flow_time" [label]="'Flow Time'"></app-box-plot-diagram>
  <app-box-plot-diagram class="boxplot" [statistics]="statistics.time.waiting" [label]="'Waiting Time'"></app-box-plot-diagram>
  <app-box-plot-diagram class="boxplot" [statistics]="statistics.time.effective" [label]="'Effective Time'"></app-box-plot-diagram>
  <app-box-plot-diagram class="boxplot" [statistics]="statistics.time.off_timetable" [label]="'Off-timetable Time'"></app-box-plot-diagram>
</div>
^
