<mat-toolbar color="primary">
    <mat-toolbar-row>
      <a mat-button href="https://github.com/bptlab/scylla">Scylla</a>
      <a mat-button href="https://github.com/bptlab/scylla-ui/wiki/Getting-started">Getting Started</a>
      <a mat-button href="https://github.com/bptlab/scylla-ui/wiki/Documentation">Documentation</a>
      <a mat-button href="https://github.com/bptlab/scylla-ui/wiki/KPI-Definitions">KPI Definitions</a>
      <span class="fill-remaining-space"></span>
      <a mat-button class="docs-button" href="https://github.com/bptlab/scylla-ui" aria-label="Contribute on GitHub">
        <img class="docs-angular-logo"
              src="assets/img/homepage/github-circle-white-transparent.svg"
              alt="github">
        <span>Contribute</span>
      </a>
    </mat-toolbar-row>
</mat-toolbar>
