<mat-toolbar color="primary">
    <mat-toolbar-row>
      <a mat-button href="https://github.com/bptlab/scylla" target="_blank">Scylla</a>
      <a mat-button href="https://github.com/bptlab/scylla-ui/wiki/Getting-started" target="_blank">Getting Started</a>
      <a mat-button href="https://github.com/bptlab/scylla-ui/wiki/Documentation" target="_blank">Documentation</a>
      <a mat-button href="https://github.com/bptlab/scylla-ui/wiki/KPI-Definitions" target="_blank">KPI Definitions</a>
      <span class="fill-remaining-space"></span>
      <a mat-button class="docs-button" href="https://github.com/bptlab/scylla-ui" aria-label="Contribute on GitHub">
        <img class="docs-angular-logo"
              src="/assets/img/homepage/github-circle-white-transparent.svg"
              alt="github">
        <span>Contribute</span>
      </a>
    </mat-toolbar-row>
</mat-toolbar>
