<mat-card>
  <mat-card-title>Simulation Overview</mat-card-title>
  <mat-card-content>
    This is an overview of the whole simulatios scenario. See the KPIs of the processes of your simulation on the cards
    below. Clicking on the activities in the BPMN diagram will lead you to a detailed overview of the selected activity.
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Simulation Overview</mat-card-title>
  <mat-card-content>
    <app-simulation-kpi [statistics]="statistics.processes.process" [processID]="statistics.processes.process.id" [timeUnit]="timeUnit"></app-simulation-kpi>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Process model</mat-card-title>
  <mat-card-content>
    <app-bpmn-viewer #bpmn></app-bpmn-viewer>
  </mat-card-content>
  <mat-card-actions>
    <a (click)="bpmn.centerModel()" mat-button>Recenter</a>
  </mat-card-actions>
</mat-card>

