<div fxLayout="row" fxLayoutAlign="space-evenly center">

  <div fxLayout="column" fxLayoutAlign="space-evenly center">
  <app-box-plot-diagram class="boxplot" [statistics]="" [label]="'Costs'" [chartId]="'Costs' + ressourceId"</app-box-plot-diagram>></app-box-plot-diagram>
  Average:
  Total:
</div>
  <div fxLayout="column" fxLayoutAlign="space-evenly center">
    <app-box-plot-diagram class="boxplot" [statistics]="" [label]="'Time In Use'" [chartId]="'Time In Use' + ressourceId"></app-box-plot-diagram>
    Average:
    Total:
  </div>
  <div fxLayout="column" fxLayoutAlign="space-evenly center">
    <app-box-plot-diagram class="boxplot" [statistics]="" [label]="'Time Available'" [chartId]="'Time Available' + ressourceId"></app-box-plot-diagram>
    Average:
    Total:
  </div>
  <app-pie-chart [workload]="30" [label]="ressourceId"></app-pie-chart>
</div>
