<div fxLayout="row" fxLayoutAlign="space-evenly center">

  <div fxLayout="column" fxLayoutAlign="space-evenly center">
  <app-box-plot-diagram class="boxplot" [min]="1" [max]="100" [median]="50" [q1]="30" [q3]="70" [label]="'Costs'"></app-box-plot-diagram>
  Average:
  Total:
</div>
  <div fxLayout="column" fxLayoutAlign="space-evenly center">
    <app-box-plot-diagram class="boxplot" [min]="1" [max]="100" [median]="50" [q1]="30" [q3]="70" [label]="'Time In Use'"></app-box-plot-diagram>
    Average:
    Total:
  </div>
  <div fxLayout="column" fxLayoutAlign="space-evenly center">
    <app-box-plot-diagram class="boxplot" [min]="1" [max]="100" [median]="50" [q1]="30" [q3]="70" [label]="'Time Available'"></app-box-plot-diagram>
    Average:
    Total:
  </div>
  <app-pie-chart [workload]="30" label="'hola"></app-pie-chart>
</div>
