<div fxLayout="row" fxLayoutAlign="space-evenly center">

  <div fxLayout="column" fxLayoutAlign="space-evenly center">
  <app-box-plot-diagram class="boxplot" [statistics]="" [label]="'Costs'"></app-box-plot-diagram>
  Average:
  Total:
</div>
  <div fxLayout="column" fxLayoutAlign="space-evenly center">
    <app-box-plot-diagram class="boxplot" [statistics]="" [label]="'Time In Use'"></app-box-plot-diagram>
    Average:
    Total:
  </div>
  <div fxLayout="column" fxLayoutAlign="space-evenly center">
    <app-box-plot-diagram class="boxplot" [statistics]="" [label]="'Time Available'"></app-box-plot-diagram>
    Average:
    Total:
  </div>
</div>
